//delegates card

#delegates-dem,
#delegates-gop {

    .card-inner {
        max-width: @max-width-content;
        margin: 0 3rem 2rem 3rem;

        @media @screen-small-above {
            margin: 0 auto;
        }
    }

    header {
        margin-bottom: 2rem;

        h2 {
            text-transform: uppercase;
            font-size: 1.3rem;
        }
    }
    .needed {
        margin-bottom: 11px;
        text-align: right;
        color: #787878;
        font-size: 1rem;
    }
    .delegates {
        list-style-type: none;
        margin: 0 0 22px 0;
        padding: 0;

        > li {
            display: -webkit-flex;
            display: flex;
            margin: 0 0 3px 0;
            line-height: 33px;
            color: #f1f1f1;

            &.inactive { color: #787878; }

            .candidate {
                -webkit-flex-basis: auto;
                flex-basis: auto;
                width: 6rem;
            }
            .bar-wrapper {
                -webkit-flex-grow: 1;
                flex-grow: 1;
                height: 33px;
            }
            .bar {
                height: 100%;
                width: 20px;
                display: block;
                float: left;
                opacity: 0.4;

                &.pickups { opacity: 1.0; }
            }
            .amt {
                display: block;
                float: left;
                white-space: normal;
                font-weight: bold;
                font-size: 0.8rem;
                margin-left: 0.5rem;

                .pickups,
                .detail {
                    font-size: 0.7rem;
                    color: #999;
                    font-weight: normal;
                }

                .detail {
                    display: block;
                    margin-top: 2px;
                }
            }
        }

        &.democrat > li {
            line-height: 55px;

            .bar-wrapper {
                background-color: @democratFade3;
                height: 55px;
                line-height: 1.3;
            }
            .bar { background-color: @democrat; }
            .amt {
                @media @screen-tiny-above { padding: 14px 0; }
                @media @screen-tiny {
                    max-width: 5rem;
                    padding: 8px 0;
                }
            }
            &.inactive .bar { background-color: #666; }
        }
        &.republican > li {
            .bar-wrapper { background-color: @republicanFade; }
            .bar { background-color: @republican; }
            &.inactive .bar { background-color: #666; }
        }
    }
    .key {
        margin: 0 0 15px 6rem;
        padding: 0;
        list-style-type: none;
        color: #666;

        > li {
            display: inline-block;
            margin: 0 2rem 0 0;
            padding: 0;
            font-size: 0.9rem;
        }

        b {
            display: inline-block;
            float: left;
            margin-right: 6px;
            width: 1rem;
            height: 1rem;
        }

        label {
            display: inline-block;
            line-height: 1rem;
            white-space: nowrap;
        }
    }
}
#delegates-dem .key {
    b { background-color: @democrat; }
    .previous b { opacity: 0.6; }
    .pickups b { opacity: 1.0; }
}
#delegates-gop .key {
    b {
        background-color: @republican;
        .previous b { opacity: 0.6; }
        .pickups b { opacity: 1.0; }
    }
}
