//donate card

#donate {

    .card-inner {
        max-width: @max-width-content;
        margin: -2px 3rem 2rem 3rem;

        @media @screen-small-above {
            margin: 0 auto;
        }
    }

    h2 {
        text-transform: none;
        font-size: 2.2rem;
        line-height: 1;
    }

    p {
        font-size: 1.3rem;
    }

    .donate-link {
        margin: 2rem 0;
        white-space: nowrap;
        font-size: 1rem;

        a {
            padding: 1rem;
            background: @accent1;
            border: none;

            .no-touch & {
                &:hover,
                &:active {
                    color: #fff;
                    background: #CD3F3D;
                }
            }
        }
    }

}
