//newsletter card
#newsletter-roundup,
.newsletter-roundup {
    header {
        margin-bottom: 2rem;

        .header-content {
            max-width: @max-width-content;
            margin: 0 3rem 2rem 3rem;

            @media @screen-small-above {
                margin: 0 auto;
            }
        }

        h2 { text-transform: uppercase; }
    }

    .stories {
        background-color: #333;

        h1 {
            .gotham();
            font-weight: 400;
            font-size: 1.5rem;
        }

        h2 {
            text-transform: uppercase;
            color: #999;
            font-size: 1.1rem;
            margin-bottom: .4rem;
        }
    }

    article {
        position: relative;
        max-width: @max-width-content;
        margin: 0 3rem 2rem 3rem;

        @media @screen-small-above {
            margin: 0 auto 2rem auto;
        }

        // a { display: block; }
        a:link,
        a:visited {
            border: none;
        }

        &.primary {
            .background-size(cover);
            background-position: center center;
            border-bottom: 5px solid @accent2;
            border-top: 5px solid @accent2;
            margin-left: 0;
            margin-right: 0;
            max-width: none;
            width: 100%;
            min-height: 20rem;

            @media @screen-small-above {
                min-height: 24rem;
            }

            h2 {
                padding: .5rem;
                color: @brightwhite;
                background: fade(@accent2, 75%);
                display: inline-block;
            }

            .article-screen {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                //content: '';
                background: rgba(0, 0, 0, .5);
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: flex-end;
                align-items: flex-end;
            }

            .article-content {
                width: 100%;
                margin: 0 auto;
                max-width: @max-width-content;
                padding: 2rem 3rem;
            }

            .photo-credit {
                bottom: 5px;
                right: 5px;
                opacity: .7;
            }
        }

        &.secondary {
            clear: both;
            border-top: 2px solid @accent2;
            padding-top: 2rem;

            &:nth-child(2) {
                border-top: none;
                padding-top: 0;
            }
            &:last-child { padding-bottom: 2rem; }

            h1 { margin-bottom: 1em; }

            img {
                display: block;
                width: 100%;
                height: auto;
                margin: 0;
            }

            .photo-credit {
                position: relative;
                top: auto;
                right: auto;
                text-align: right;
                margin: 1rem 0;
                padding: 0;
                line-height: auto;
                color: #787878;
            }

            .teaser { margin: 0; }
        }

    }
}

#newsletter,
#newsletter-roundup,
.newsletter-roundup {
    header {
        h1 {
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }
    }

    p {
        margin: 0;
        &.footnote {
            color: #999;
            font-size: 0.8rem;

            a {
                border: none;
            }
        }
    }
    form {
        padding: 22px 0;
        max-width: 500px;
    }
    input {
        position: relative;
        min-height: 44px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        line-height: 44px;
        padding: 0 11px;
        display: block;
        margin-bottom: 11px;
    }
    button {
        border: none;
        padding: 0 11px;
        .knockout();
        text-transform: uppercase;
        line-height: 33px;
        background-color: @accent2;
        color: @white;

        .no-touchevents & {
            &:hover,
            &:active {
                opacity: 0.7;
            }
        }
    }
    .message {
        margin-top: 11px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.1);
        padding: 15px 15px 13px 15px;

        h3 {
            margin: 0 0 3px 0;
            font-size: 1rem;
        }
        p { margin: 0; }

        &.error {
            margin-top: 22px;
            border-color: rgba(204, 91, 78, 0.3);
            background-color: rgba(204, 91, 78, 0.1);

            h3, p { color: @accent1; }
            p { opacity: 0.8; }
        }
        &.success {
            margin-top: 0;
            border-color: rgba(241, 158, 20, 0.3);
            background-color: rgba(241, 158, 20, 0.1);

            h3, p { color: @winner; }
            p { opacity: 0.8; }
        }
    }
}

.newsletter-signup {
    .transition(opacity 0.3s ease-in-out);
}
