@import "less/lib/bootstrap/bootstrap";

.attribute-table {
  color: #000;
  font-family: Courier, monospace;
  max-width: 60rem;
  font-size: 1.2rem;
  & > tbody > tr > td {
    padding: .25rem 1rem .25rem 0;
  }
}
