@import "less/lib/bootstrap/normalize"; //Just including normalize.css
@import "less/lib/flickity";
@import "less/lib/prefixer";
@import "lib/font-awesome/font-awesome.less";

// Global variables
// -------------------------

//utilities
.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//center vertically and horizontally
.vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// center vertically
.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//images
@img-root: "../assets";

.img-responsive(@display: block;) {
    display: @display;
    max-width: 100%;
    height: auto;
}

// colors
@republican     : #e61e1d;
@republicanFade : #342224;
@democrat       : #4167b0;
@democratFade   : #1d2c40;
@live           : #f05b4e; // red in comps
@accent1        : #f05b4e; // red in comps
@accent1a       : #EC3C2D; // brand red dark
@accent2        : #498dcb; // blue in comps
@winner         : #f19e14;
@white          : #eee;



// fonts
.knockout() {
    font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    //line-height: 1.2;
    //letter-spacing: 0.05em;
}
.gotham() {
    font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

// Breakpoints
@screen-jumbo-above: ~"screen and (min-width: 1920px)";
@screen-mega-above: ~"screen and (min-width: 1600px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";

//max-width for content
@max-width-content: 47rem;


// Base font size
// -------------------------

html {
    font-size: 13px;

    @media @screen-small-above {
        font-size: 14px;
    }

    @media @screen-medium-above {
        font-size: 16px;
    }

    @media @screen-large-above {
        font-size: 18px;
    }

    @media @screen-mega-above {
        font-size: 21px;
    }

    @media @screen-jumbo-above {
        font-size: 24px;
    }
}

// Overall styles
body {
    background: linear-gradient(#111, #2c2c2c);
}

.cards {
    opacity: 0;
    visibility: hidden;
    .transition(opacity 2s ease-in);
}

.logo {
    padding-top: 1.8rem;
    padding-left: 5px;

    @media @screen-small-above {
        padding-left: 1.8rem;
    }

    h5 {
        .knockout();
        font-size: 1.2rem;
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-shadow: 2px 2px 2px #333;

        @media @screen-small-above {
            font-size: 1.6rem;
        }
    }

    img {
        float: left;
        display: block;
        width: 3.5rem;
        margin-right: .5rem;
        max-width: 100%;
        height: auto;

        @media @screen-small-above {
            width: 4.5rem;
        }
    }
}

// header
.during-mode-notice {
    position: absolute;
    top: -50px;
    left: 0;
    color: @white;
    background-color: @live;
    width: 100%;
    z-index: 5;
    height: 25px;

    .during & {
        top: 0;
    }

    &:before {
        display: block;
        content: ' ';
        position: absolute;
        top: 5px;
        left: 5px;
        right: 0;
        bottom: 0;
        width: 1.3rem;
        height: 1rem;
        z-index: 1;
        background: transparent url('@{img-root}/bounce.gif') no-repeat;
        .background-size(cover);

        @media @screen-small-above {
            left: 30px;
        }
    }

    h5 {
        position: absolute;
        top: 5px;
        left: 30px;
        line-height: 1;
        margin: 0;
        font-size: 11px;
        text-transform: uppercase;
        .knockout();

        @media @screen-small-above {
            font-size: 15px;
            left: 60px;
        }
    }

    p {
        position: absolute;
        top: 5px;
        right: 5px;
        line-height: 1;
        margin: 0;
        font-size: 10px;
        .knockout();
        text-transform: none;

        @media @screen-small-above {
            font-size: 12px;
            right: 30px;
        }
    }
}

.branding-border {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url('@{img-root}/branding-border.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 5px;
    z-index: 2;
}

.global-header {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    color: @white;
    margin-bottom: 1rem;
    min-height: 4rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.2));

    .during & {
        top: 20px;
    }

    &.bg-header {
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
    }

    @media @screen-small-above {
        background: linear-gradient(to bottom,rgba(0, 0, 0, .6) 50%,rgba(0, 0, 0, 0));
        min-height: 8rem;

    }
}

.global-controls {
    position: absolute;
    top: 15px;
    right: 5px;
    display: none;
    z-index: 3;

    .during & {
        top: 33px;
    }

    @media @screen-small-above {
        top: 1.5rem;
        right: 1.7rem;

        .during & {
            top: 2.6rem;
        }
    }

    button {
        .knockout();
        letter-spacing: 0;
        text-transform: uppercase;
        background: linear-gradient(to bottom, rgba(80, 79, 79, 0.4) 50%, rgba(130, 124, 124, 0.4));
        border: 0;

        &.alert-button {
            font-size: 1rem;
            padding: 7px;
            margin-right: 5px;

            i {
                font-size: 0.95rem;
                margin-right: 5px;
            }
        }

        &.mute-button {
            outline: none;

            &.muted:before {
                display: block;
                content: "\f026";
                font-family: FontAwesome;
                color: @white;
                font-size: 1rem;
                padding: 7px 8px 7px 7px;
            }
            &.playing:before {
                display: block;
                content: "\f028";
                font-family: FontAwesome;
                color: @white;
                font-size: 1rem;
                padding: 7px 4px 7px 5px;
            }

            i { padding-left: 2px; }
        }
    }
}


// Card Styles
// -------------------------

.flickity-prev-next-button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    @media @screen-small-above {
        width: 4rem;
        height: 4rem;
    }

    &.previous {
        left: 5px;
        svg {
            left: 0;
        }
        @media @screen-small-above {
            left: 18px;
        }
    }
    &.next {
        left: auto;
        right: 5px;
        svg {
            left: auto;
            right: 0;
        }

        @media @screen-small-above {
            right: 30px;


        }
    }
    &:hover {
        background-color: transparent;
    }

    .arrow {
        fill: #aaa;
    }

    svg {
        width: 35%;
        height: 35%;
        @media @screen-small-above {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

}

.card {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .gotham();
    color: #ccc;


    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    .card-inner {
        padding-top: 5rem;

        .during & {
            padding-top: 6rem;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        .knockout();
        letter-spacing: -0.02em;
        color: @white;
        line-height: 1.1;
    }

    h1 { font-size: 2.7rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 14px; }

    h4 {
        margin-top: 3rem;
    }

    header { padding: 2rem; }
    article {
        padding: 0 2rem 2rem 2rem;
        max-width: @max-width-content;
        margin: 0 auto;
    }

    a:link,
    a:visited {
        color: @white;
        font-weight: 700;
        text-decoration: none;
    }
    .no-touch & {
        a:hover,
        a:active {
            color: @accent2;
        }
    }

    li {
        margin: 22px 0 0 0;

        &:first-child { margin-top: 0; }
    }

    ol {
        margin: 0 0 0 1.3em;
        padding: 0;
    }

    article p {
        .gotham();
        font-size: 1rem;
        line-height: 1.7;
        color: #aaa;
        text-shadow: 2px 2px 2px #222;

        @media @screen-small-above {
            margin-bottom: 1.7rem;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        tr { vertical-align: top; }
        th { text-align: left; }
    }

    .meta {
        margin: 0 0 15px 0;
        padding: 0;
        list-style-type: none;

        > li {
            margin: 0 0 3px 0;
            color: #787878;
            .knockout();
            font-size: 0.9rem;
        }

        .ap-period {
            text-transform: none;
        }
    }

    .photo-credit {
        margin: 0;
        position: absolute;
        bottom: 15px;
        right: 15px;
        .knockout();
        font-size: .8rem;
        text-transform: none;
        letter-spacing: 0;
        opacity: .6;
    }

    .begin {
        .knockout();
        color: @white;
        text-shadow: 2px 2px 2px #222;
        background-color: transparent;
        border-top: 0;
        border-right: 0;
        border-bottom: 4px solid @accent1;
        border-left: 0;
        padding: 0 0 .5rem 0;
        font-size: 1.4rem;

        .no-touch & {
            &:hover,
            &:active {
                color: #fff;
                border-color: @accent1a;
            }
        }

        i {
            font-size: 1.6rem;
            padding-left: .5rem;
        }

        @media @screen-small-above {
            font-size: 1.7rem;

            i {font-size: 1.9rem;}
        }
    }

    .featured-links {
        margin: 0;
        padding: 0;
        list-style-type: none;

        > li {
            text-align: center;
            margin: 22px 0 0 0;
        }

        a:link,
        a:visited {
            color: #ccc;
            font-weight: 700;
            text-decoration: none;
        }
        .no-touch & {
            a:hover,
            a:active {
                color: #fff;
            }
        }
    }

    .republican { color: @republican; }
    .democrat { color: @democrat; }
}

.title {
    .card-background {
        // background: url('http://media.npr.org/assets/img/2015/12/29/gettyimages-477258926_wide-s700-c85.jpg') no-repeat;
        .background-size(cover);
        background-position: center center;
        position: absolute;
        //position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .7;

        .photo-credit {
            color: #fff;
            opacity: 1;
        }
    }

    .title-inner {

        .title-branding {
            h5 {
                .knockout();
                font-size: 1.2rem;
                text-transform: uppercase;
                line-height: 1;
                margin: 0;
                padding: 0;
                text-shadow: 2px 2px 2px #333;

                @media @screen-small-above {
                    font-size: 1.6rem;
                }
            }
        }

        @media @screen-small-above {
            padding-top: 0;
        }


        .countdown-banner {
            position: relative;
            margin: .7rem 0 2rem 0;
            background-color: rgba(73, 141, 203, .7);
            .knockout();
            .box-shadow(2px 2px 10px #333);

            h6 {
                color: @white;
                font-size: .9rem;
                line-height: 1;
                padding: 1rem;
                text-transform: uppercase;

                .during & {
                    padding-left: 45px;
                }

            }

            .get-alerts {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background-color: @accent2;
                color: @white;
                text-transform: uppercase;
                border: 0;
                font-size: .7rem;


                i {
                    padding-right: 3px;
                }
            }

            &.live-banner {
                background-color: rgba(214, 87, 81, 1);

                &:before {
                    display: block;
                    content: ' ';
                    position: absolute;
                    top: 35%;
                    left: 10px;
                    right: 0;
                    bottom: 0;
                    width: 1.3rem;
                    height: 1rem;
                    z-index: 1;
                    background: transparent url('@{img-root}/bounce.gif') no-repeat;
                    .background-size(cover);
                }

                p {
                    padding: 1rem 7.4rem 1rem 3rem;

                    @media @screen-small-above {
                        padding: .5rem 7.4rem .5rem 2.4rem;
                    }

                }

                .get-alerts {
                    background-color: @live;
                }
            }
        }

        .title-description {
            margin: 2rem;

            @media @screen-small-above {
                width: 40rem;
                margin: 0 auto;
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
            }

            .logo {
                padding: 1rem 0;
            }

            h1 {
                .knockout();
                font-size: 2rem;
                line-height: 1;
                text-shadow: 2px 2px 2px #222;

                @media @screen-small-above {
                    font-size: 3.7rem;
                }
            }

            p {
                .gotham();
                font-size: 1rem;
                line-height: 1.7;
                color: @white;
                text-shadow: 2px 2px 2px #222;

                @media @screen-small-above {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

#delegates {
    header {
        max-width: @max-width-content;
        margin: 0 auto;
    }
    .needed {
        margin-bottom: 11px;
        text-align: right;
        color: #787878;
        font-size: 1rem;
    }
    .delegates {
        list-style-type: none;
        margin: 0 0 22px 0;
        padding: 0;

        > li {
            display: -webkit-flex;
            display: flex;
            margin: 0 0 3px 0;
            line-height: 33px;
            color: #f1f1f1;

            .candidate {
                -webkit-flex-basis: auto;
                flex-basis: auto;
                width: 6.5rem;
            }
            .bar-wrapper {
                -webkit-flex-grow: 1;
                flex-grow: 1;
                height: 33px;
            }
            .bar {
                height: 100%;
                width: 20px;
                display: block;
                float: left;
            }
            .amt {
                display: block;
                float: left;
                font-size: 0.8rem;
                margin-left: 0.5rem;
            }
        }

        &.democrat > li {
            .bar-wrapper { background-color: @democratFade; }
            .bar { background-color: @democrat; }
        }
        &.republican > li {
            .bar-wrapper { background-color: @republicanFade; }
            .bar { background-color: @republican; }
        }
    }
}

#donate {
    max-width: @max-width-content;
    margin: 0 auto;

    p {
        .knockout();
        text-transform: none;
        font-size: 1.6rem;
        color: @white;
        margin-bottom: 33px;
    }

    .support {
        display: inline-block;
        font-size: 1.2rem;
        padding: 0 0.9rem;
        .knockout();
        line-height: 3rem;
        background-color: rgba(255, 255, 255, .3);
        color: @white;
        white-space: nowrap;

        .no-touch & {
            &:hover,
            &:active {
                opacity: 0.7;
            }
        }

        .fa-heart { color: @accent1; }
    }
}

#podcast {
    .card-background {
        background: url('http://media.npr.org/assets/img/2016/01/13/ap_922519091160_wide-fa453a52133e11e7198bae453b39878887fea880-s1200-c85.jpg') no-repeat;
        .background-size(cover);
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-filter: opacity(.5);
        filter: opacity(.5);
    }


    .segment-audio-content {
        margin: 2rem;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

        @media @screen-small-above {
            width: 40rem;
            margin: 0 auto;
            padding-top: 2rem;
        }

        .segment-audio-player {
            position: relative;
            margin: 2rem auto;
            max-width: 18rem;

            li {margin: 0;}

            .segment-rewind {
                position: absolute;
                top:0;
                left: 0;
            }

            .rewind {
                background: transparent url('@{img-root}/rewind-15.svg') no-repeat;
                .background-size(cover);
                background-position: center center;
                width: 3.6rem;
                height: 4rem;
                border: none;
            }

            .forward {
                background: transparent url('@{img-root}/forward-15.svg') no-repeat;
                .background-size(cover);
                background-position: center center;
                width: 3.6rem;
                height: 4rem;
                border: none;
            }


            .segment-play {
                margin: 0 2rem;

                button {
                    border: none;
                    background-color: transparent;
                }

                .play, .pause {
                    position: relative;
                    width: 5rem;
                    height: 5rem;
                    margin-bottom: .5rem;
                    outline: none;
                }

                .play:before {
                    content: "\f04b";
                    font-family: FontAwesome;
                    color: @white;
                    font-size: 5rem;
                    position: absolute;
                    top: 0;
                    left: 20px;
                }

                .pause:before {
                    content: "\f04c";
                    font-family: FontAwesome;
                    color: @white;
                    font-size: 5rem;
                    position: absolute;
                    top: 0;
                    left: 7px;
                }

                .duration {
                    display: block;
                }
            }

            .segment-forward {
                position: absolute;
                top:0;
                right: 0;
            }
        }

        .segment-source {
            .knockout();
            font-size: 1.5rem;
            line-height: 1;
            text-shadow: 2px 2px 2px #222;
            text-align: center;
        }

        h1 {
            .knockout();
            font-size: 2.5rem;
            text-transform: none;
            line-height: 1;
            text-shadow: 2px 2px 2px #222;
            text-align: center;

            @media @screen-small-above {
                text-align: left;
            }
        }

        p {
            .gotham();
            font-size: 1rem;
            line-height: 1.7;
            color: @white;
            text-shadow: 2px 2px 2px #222;
        }

        .featured-links {
            .begin {font-size: 1.2rem;}
        }
    }
}

.link-roundup {
    header {
        .background-size(cover);
        background-position: center center;
        position: relative;
        min-height: 16rem;
        margin-bottom: 22px;
        padding: 0;
        border-bottom: 5px solid @accent2;
        border-top: 1px solid #222;

        @media @screen-small-above {
            border-top: 1px solid #444;
        }

        h1 {
            text-transform: none;
            font-size: 2.5rem;

            @media @screen-small-above {
                text-align: left;
                font-size: 3.1rem;
            }
        }

        h2 {
            text-transform: uppercase;;
            font-size: 1.3rem;
            @media @screen-small-above {
                font-size: 1.7;
            }
        }

        .header-screen {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            //content: '';
            background: rgba(0, 0, 0, .3);
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
        }
        .header-content {
            width: 100%;
            max-width: @max-width-content;
            margin: 0 auto;
            padding: 0 33px;
        }
    }
    // via http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
    ol {
        counter-reset: li;
        margin-left: 3.5rem;

        @media @screen-small-above {
            margin-left: 0;
        }


        > li {
            position: relative;
            margin-left: 2em;
            list-style: none;
            margin: 2.5rem 0 0 0;
            line-height: 1.7;

            &:before {
                content:counter(li);
                counter-increment:li;
                -moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                box-sizing:border-box;
                position: absolute;
                top: -0.07em;
                left: -1.3em;
                width: 1em;
                text-align: center;
                .knockout();
                font-size: 3rem;
                line-height: 1;
            }
        }
    }
}

#newsletter {

    .card-inner {
        @media @screen-small-above {
            position: absolute;
            top: 50%;
            left: 47%;
            transform: translate(-47%, -50%);
        }
    }

    header {
        max-width: @max-width-content;
        margin: 0 auto;
        padding-bottom: 22px;
    }
    p {
        margin: 0;
        &.footnote {
            color: #999;
            font-size: 0.8rem;
        }
    }
    form {
        padding: 22px 0;
        max-width: 500px;
    }
    input {
        width: 100%;
        box-sizing: border-box;
        border: none;
        line-height: 44px;
        padding: 0 11px;
        display: block;
        margin-bottom: 11px;
    }
    button {
        border: none;
        padding: 0 11px;
        .knockout();
        line-height: 33px;
        background-color: @accent2;
        color: @white;

        .no-touch & {
            &:hover,
            &:active {
                opacity: 0.7;
            }
        }
    }
}

#feedback {
    article {margin-top: 2rem;}
}

.results {
    header {
        max-width: @max-width-content;
        margin: 0 auto;
        padding: 2rem;

        h1 {
            text-transform: none;
            font-size: 1.9rem;
            color: #ccc;
            @media @screen-small-above {
                font-size: 3rem;
            }
        }

        h2 {
            font-size: 1.2rem;
            color: #fff;
            @media @screen-small-above {
                font-size: 1.6rem;
            }
        }

    }
    h3 { margin-bottom: 22px; }
    table {
        border-bottom: 1px solid @white;
        margin-bottom: 15px;

        caption {
            margin-bottom: 11px;
            .knockout();
            font-size: 1.2rem;
            letter-spacing: 0;
            text-align: left;
            color: @white;
        }

        th {
            border-bottom: 3px solid @white;
            padding: 0 0 7px 7px;
            vertical-align: bottom;
            .knockout();
            color: @white;

            &:first-child { padding-left: 0; }
        }

        td {
            padding: 7px 0 7px 7px;

            &:first-child { padding-left: 0; }
        }
        .winner {
            font-weight: bold;
            color: @winner;

            td:first-child:after {
                content: '\00A0\2714';
                font-size: 18px;
                line-height: 12px;
            }
        }

        .votes,
        .pct {
            text-align: right;
        }
    }
}

.no-touch {
    // .flickity-slider {
    //   transform: none !important;
    // }

    // .card {
    //   left: 0 !important;
    //   opacity: 0;
    //   transition: opacity 1s ease-in-out;
    //   z-index: -1;
    // }

    // .card.is-selected {
    //   opacity: 1;
    //   z-index: 0
    // }
}
