@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";

.gop { color:red; }
.dem { color:blue; }
.other { color:green; }
.incumbent { text-transform:uppercase; }
.clear { width:100%; clear:both; }
td.ap-call { text-align:center!important; }
.modal { display:none; }
.btn { text-transform:none; }
td.npr-call, td.npr-uncall { text-align:center!important; }
.clear-call { margin-left:5px; float:none;}
.hidden { display:none; }

h3 { display: inline-block; }
.ap-btns { display: inline-block; }