{% extends '_card_base.html' %}

{% block card_content %}
<div class="segment-audio-content">
    <ul class="segment-audio-player">
        <li class="segment-rewind">
            <button class="rewind darken"></button>
        </li>
        <li class="segment-play">
            <button class="toggle-btn play" data-url="{{ audio_url }}">
            </button>
            <span class="duration">
                &nbsp;
            </span>
        </li>
        <li class="segment-forward">
            <button class="forward darken"></button>
        </li>
    </ul>

    <div class="segment-description">
        <h1>{{ headline }}</h1>
        <h5>{{ subhed }}</h5>

        <p>{{ content|safe }}</p>

        <ul class="featured-links">
            <li><a href="{{ story_url }}">Read the story</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block card_background %}
<span class="card-background" data-mobile-bg="{{ mobile_image }}" data-default-bg="{{ image }}" style="background-repeat: no-repeat; background-size: cover; background-position: center center; -webkit-background-size: cover;">
    <p class="photo-credit">{{ credit }}</p>
</span>
{% endblock %}
