{% extends '_card_base.html' %}

{% block card_content %}
<header>
    <h1>Get Caught Up</h1>
    <h2>For The New Hampshire Primary</h2>
</header>
<article>
    <ol>
        <li>Sed ut perspiciatis unde omnis iste natus error sit <a href="http://npr.org">voluptatem accusantium doloremque</a> laudantium, totam rem aperiam.</li>
        <li><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <li>Ut enim ad minim veniam, <a href="http://nprpolitics.org">quis nostrud exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <em>dolore eu fugiat nulla pariatur</em>.</li>
        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    </ol>
</article>
{% endblock %}
