{% extends '_card_base.html' %}

{% block card_content %}
<header>
    <h2>Race To The Nomination</h2>
    <h1>Republican Delegate Tracker</h1>
</header>
<article>
    <h3 class="needed"></h3>
    <ul class="delegates republican"></ul>

    <ul class="meta">
        <li class="timestamp"></li>
        <li>Source: AP estimates</li>
    </ul>

    <!-- <ul class="featured-links">
        <li><a class="begin" href="LINK-TKTK" target="_blank">How The Process Works</a></li>
    </ul> -->
</article>
{% endblock %}
