{% extends '_card_base.html' %}

{% block card_content %}

    <h2>Hey You!</h2>

    <p>The people who built this work at NPR. We make money a few ways, but it’s mostly from our local member stations, and <em>they</em> make money from donations. From <em>you</em>.</p>

    <p>Anyway. You should donate.</p>

    <p class="donate-link"><a href="http://www.npr.org/stations/donate/">Click if you care.</a></p>

{% endblock %}

{% block card_background %}
<span class="card-background" data-default-bg="http://www.npr.org/about/aboutnpr/img/tz-intro-large.jpg">
    <p class="photo-credit">Photo Credit</p>
</span>
{% endblock %}
