{% extends '_card_base.html' %}

{% block card_content %}
<article class="v-center">
    <p>Federal funding is essential to public radio&rsquo;s service to the American public. Its continuation is critical for both stations and program producers, including NPR. But did you know the largest source of funding for NPR comes from individuals like&nbsp;you?</p>
    <p><a href="http://www.npr.org/stations/donate/" target="_blank" class="support"><i class="fa fa-heart"></i>&nbsp;&nbsp;Support Public Radio</a></p>
</article>
{% endblock %}
