{% extends '_card_base.html' %}

{% block card_content %}
<header style="background-image: url('/assets/img-commoncore.jpg');">
    <div class="header-screen">
        <div class="header-content">
            <h2>Frequently Asked Questions About</h2>
            <h1>Common Core</h1>
        </div>
    </div>
    <p class="photo-credit">LA Johnson/NPR</p>
</header>

<article>

    <p>The Common Core Standards Initiative is the largest-ever attempt in the United States to set unified expectations for what students in kindergarten through 12th grade should know and be able to do in each grade in preparation for college and the workforce.</p>
    <p>Here's a quick introduction to where the candidates stand on Common Core.</p>
    <p>To help explain what all this means, the nprED team has prepared a guide to some of the most frequently asked questions about the standards. To view the guide, select a question below or check out <a href="http://www.npr.org/sections/ed/2014/05/27/307755798/the-common-core-faq">the full guide</a> over at nprED.

    <dl class="faq-list">
        <dt><a href="http://www.npr.org/sections/ed/2014/05/27/307755798/the-common-core-faq#q1">What did the Common Core come from? Who is behind it?</a></dt>
        <dt><a href="http://www.npr.org/sections/ed/2014/05/27/307755798/the-common-core-faq#q2">OK, so what is the relationship between Common Core and my kid's math homework?</a></dt>
        <dt><a href="http://www.npr.org/sections/ed/2014/05/27/307755798/the-common-core-faq#q3">Why do we need Common Core?</a></dt>
    </dl>

    <ul class="featured-links">
        <li><a href="http://www.npr.org/sections/ed/2014/05/27/307755798/the-common-core-faq">View The Full Guide</a></li>
    </ul>

</article>
{% endblock %}
