{% extends '_card_base.html' %}

{% block card_content %}

<article>

    <h2>What is Election Party 2016?</h2>

    <p>Election Party 2016 is your destination for live election coverage, timely analysis and quick takes on news of the day.</p>

    <p>You don't have to keep up with politics to know what's happening this election year, you just have to keep up with us.</p>

    <h4>Give us feedback</h4>

    <p>Is anything broken? What did you like about this experience? We'd love to hear from you!</p>

    <p>Email us at <a href="mailto:ElectionParty@npr.org">ElectionParty@npr.org</a></p>

    <h4>Project Credits</h4>

    <p>Quisque eu Nibh consequat</p>

</article>
{% endblock %}
