{% extends '_card_base.html' %}

{% block card_content %}

<article>

    <h2>We’ll be back for New Hampshire.</h2>

    <p>For every primary, caucus, convention, we’re here to help you get caught up and understand what matters.</p>

    <p>Bookmark this app or add it to your homescreen, and tune in for live results and political analysis all year.</p>

    <p>We'd love to hear what you think. Help us give you what you need to keep up with the 2016 elections. Email <a href="mailto:elections2016@npr.org">Elections2016@npr.org</a>.</p>

    <h4>Project Credits</h4>

    <p>Quisque eu Nibh consequat</p>

</article>
{% endblock %}
