{% extends '_card_base.html' %}

{% block card_content %}
<header>
    <div class="header-screen">
        <div class="header-content">
            <!-- before -->
            <h1>Get Caught Up</h1>
            <h2>For The New Hampshire Primary</h2>

            <!-- after -->
            <!--<h1>What It Means</h1>
            <h2>What's The Significance Of The New Hampshire Primary?</h2> -->
        </div>
    </div>
    <p class="photo-credit">Photo: Nicholas Pilch/Getty Images</p>
</header>

<article>
    {{ content|smarty }}
</article>
{% endblock %}
