{% extends '_card_base.html' %}

{% block card_content %}
<div class="segment-audio-content">
        <h1>{{ headline }}</h1>
        <h2>{{ subhed }}</h2>

        {% if live %}
        <ul class="segment-audio-player">
            <li class="segment-type">Live Audio</li>
            <li class="segment-play">
                <button class="toggle-btn pause">
                </button>
            </li>
        </ul>
        {% endif %}

    <div class="broadcast-description">

        <p>{{ content|safe }}</p>

    </div>
</div>

{% if live %}
<script type='text/javascript'>
    var LIVE = true;
    var LIVE_AUDIO_URL = '{{ live_audio_url }}';
</script>
{% else %}
<script type='text/javascript'>
    var LIVE = false;
</script>
{% endif %}

{% endblock %}

{% block card_background %}
<span class="card-background" data-mobile-bg="{% if DEPLOYMENT_TARGET != 'production' and preview_mobile_image %}{{ preview_mobile_image }}{% else %}{{ mobile_image }}{% endif %}" data-default-bg="{% if DEPLOYMENT_TARGET != 'production' and preview_image %}{{ preview_image }}{% else %}{{ image }}{% endif %}" style="background-repeat: no-repeat; background-size: cover; background-position: center center; -webkit-background-size: cover;">
    <p class="photo-credit">{% if DEPLOYMENT_TARGET != 'production' and preview_credit %}{{ preview_credit }}{% else %}{{ credit }}{% endif %}</p>
</span>
{% endblock %}
