{% extends '_card_base.html' %}

{% block card_content %}

<header style="background-image: url('http://media.npr.org/politics/election2016/whathappenned-march8.jpg');">
    <div class="header-screen">
        <div class="header-content">
            <h2>Mega Tuesday</h2> <!-- {{ subhed }} -->
            <h1>What's Happening</h1> <!--{{ headline }}-->
        </div>
    </div>
    <p class="photo-credit">{% if DEPLOYMENT_TARGET != 'production' and preview_credit %}{{ preview_credit }}{% else %}{{ credit }}{% endif %}</p>
</header>

{% if live %}
<div class="segment-audio-content">
        <ul class="segment-audio-player">
            <li class="segment-play">
                <button class="toggle-btn pause">
                </button>
            </li>
        </ul>

    <div class="broadcast-description"><!--<p>{{ content|safe }}</p>-->
        <h3>Live Broadcast</h3>
        <p>Hosted by Scott Detrow and Sam Sanders.</p>
    </div>
</div>
{% endif %}

{% if live %}
<script type='text/javascript'>
    var LIVE = true;
    var LIVE_AUDIO_URL = '{{ live_audio_url }}';
</script>
{% else %}
<script type='text/javascript'>
    var LIVE = false;
</script>
{% endif %}

<article> <!--{{ content|smarty }}-->
    <ol>
     <li>
      <a href="http://www.npr.org/2016/03/08/469717046/michigan-mississippi-idaho-hawaii-primary-results">
       Bernie Sanders
       won
      </a>
      Michigan
      and Hillary Clinton won Mississippi. On the GOP side, Donald Trump won Hawaii, Michigan and Mississippi, while Ted Cruz won Idaho.
     </li>
     <li>
      <strong>
       Clinton picked up
      </strong>
      more delegates than Sanders overall but the story of the night was Sanders’ win in Michigan. He had gone into Michigan polling behind Clinton, and this win shows he’s still holding his own in the race.
     </li>
     <li>
      After weekend wins,
      <strong>
       Ted Cruz
      </strong>
      was unable to
      put the brakes on
      Donald Trump’s momentum.
     </li>
     <li>
      <strong>
       Marco Rubio had a bad night.
      </strong>
      He didn’t score double digits in Mississippi or Michigan, and in
      Hawaii and
      Idaho he placed third.
     </li>
     <li>
      What’s next?
      On Tuesday,
      March 15,
      five states will hold both Democratic and Republican contests. All five have considerable delegate prizes — and three of those on the GOP side are winner-take-all.
     </li>
    </ol>
</article>

{% endblock %}
