{% extends '_card_base.html' %}

{% block card_content %}
<div class="segment-audio-content">
        <h1>Special Coverage</h1>
        <h2>of the New Hampshire primaries</h2>

        <ul class="segment-audio-player">
            <li class="segment-type">Live Audio</li>
            <li class="segment-play">
                <button class="toggle-btn pause">
                </button>
            </li>
        </ul>

    <div class="broadcast-description">

        <p>Tune in to hear live results, candidate speeches, news from NPR's political team on the ground in the granite state and updated analysis. Hosted by Ari Shapiro and Audie Cornish.</p>

    </div>
</div>
{% endblock %}

{% block card_background %}
<span class="card-background" data-default-bg="https://secure.npr.org/politics/election2016/post-iowa-podcast.jpg">
    <p class="photo-credit">Christopher Furlong/Getty Images</p>
</span>
{% endblock %}
