{% extends '_card_base.html' %}

{% block card_content %}
<header>
    <h1>NPR Politics Newsletter</h1>
</header>
<article>
    <p>Sign up for the NPR Politics newsletter and receive weekly roundups, quick takes and updates from the campaign&nbsp;trail.</p>
    <form>
        <input type="text" placeholder="What's your email?" />
        <button>Subscribe</button>
    </form>
    <p class="footnote">By subscribing, you agree to NPR's <a href="http://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">terms of use</a> and <a href="http://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">privacy policy</a>.</p>
</article>
{% endblock %}
