{% extends '_card_base.html' %}

{% block card_content %}
<header>
    <div class="header-content">
        <h2>NPR Politics Newsletter: April 2, 2016</h2>
        <h1>This Week's Top Stories</h1>
    </div>
</header>

<article class="primary" style="background-image: url('http://media.npr.org/assets/img/2016/03/27/ap_1603260315585424_wide-f13a00a4c34cf81f9dff31cc5d636aec411047ae-s1600-c85.jpg');">
    <div class="article-screen">
        <div class="article-content">
            <a href="http://www.npr.org/2016/03/27/472056754/despite-the-math-bernie-sanders-has-already-won">
                <h2>Delegate Math</h2>
                <h1>Despite The Math, Bernie Sanders Has Already Won</h1>
                <p class="photo-credit">Elaine Thompson/AP</p>
            </a>
        </div>
    </div>
</article>

<article class="secondary">
    <a href="http://www.npr.org/2016/04/01/472615778/fact-check-hillary-clinton-and-donations-from-fossil-fuel-companies">
        <h2>Fact Check</h2>
        <h1>Hillary Clinton And Donations From Fossil Fuel Industries</h1>
        <img src="http://media.npr.org/assets/img/2016/03/31/gettyimages-518418546_wide-eaacf27d921bc27d4d4b01e30b40791d8d21620c-s1600-c85.jpg" alt="Photo" />
        <p class="photo-credit">Chip Somodevilla/Getty Images</p>
        <p class="teaser">Donations linked to the oil and gas industries equal two-tenths of 1 percent of Clinton's overall fundraising.</p>
    </a>
</article>

<article class="secondary">
    <a href="http://www.npr.org/2016/04/01/472581943/trump-says-he-can-unify-the-gop-but-polls-suggest-otherwise">
        <h2>The Candidates</h2>
        <h1>Trump Says He Can Unify The GOP, But Polls Suggest Otherwise</h1>
        <img src="http://media.npr.org/assets/img/2016/04/01/gettyimages-513617794_wide-5bf3bf5571e075a5ae52c7f7b44dbd8ac9f5342e-s1600-c85.jpg" alt="Photo" />
        <p class="photo-credit">Elaine Thompson/NPR</p>
        <p class="teaser">New data from the Pew Research Center suggests that the Republican candidate who is doing the best is also the one who would send the most voters running.</p>
    </a>
</article>

<article class="secondary">
    <a href="http://www.npr.org/2016/04/01/472716157/despite-strong-poll-numbers-donald-trump-faces-tough-test-with-women">
        <h2>Political Demographics</h2>
        <h1>Women Have A Problem With Donald Trump — And It's Huge</h1>
        <img src="http://media.npr.org/assets/img/2016/04/01/ap_trump-open-hands-effcc43249d9d39beb78e1682d9279e8ad7c57a5-s1600-c85.jpg" alt="Photo" />
        <p class="photo-credit">Charles Rex Arbogast/AP</p>
        <p class="teaser">Pollster Celinda Lake says of Donald Trump: "He has been his own worst enemy with women. He's like your worst date ever--it just keeps getting worse and worse and worse as the evening goes on."</p>
    </a>
</article>

<article class="secondary">
    <a href="http://www.npr.org/2016/03/30/472279572/do-americans-actually-follow-through-on-election-threats-to-move-to-canada">
        <h2>Fact Check</h2>
        <h1>Do Americans Really Move To Canada Because Of Politics?</h1>
        <img src="http://media.npr.org/assets/img/2016/03/29/gettyimages-72907150-1-_wide-6227a62fc586e62d24ddbac8cc2a434e464a036c-s1600-c85.jpg" alt="Photo" />
        <p class="photo-credit">Stringer/AFP/Getty Images</p>
        <p class="teaser">This campaign season, lots of people are apparently making calls and doing Internet searches to see how to move to Canada. The number who follow through is likely to be much, much lower.</p>
    </a>
</article>

<article class="secondary">
    <a href="http://www.npr.org/2016/03/28/472160616/-berniemademewhite-no-bernie-sanders-isnt-just-winning-with-white-people">
        <h2>#memeoftheweek</h2>
        <h1>#BernieMadeMeWhite: No, Bernie Sanders Isn't Just Winning With White People</h1>
        <img src="http://media.npr.org/assets/img/2016/03/28/ap_223438527494_slide-032d25448840f2cb59f26856a76b3f2fffc83428-s1600-c85.jpg" alt="Photo" />
        <p class="photo-credit">Jacquelyn Martin/AP</p>
        <p class="teaser">The hashtag trended for hours Sunday. It was led by people of color who support the Vermont senator's presidential bid.</p>
    </a>
</article>

<article class="subscribe">
    <h1>Get This In Your Inbox</h1>
    <p>Sign up for the NPR Politics newsletter to stay caught up with the latest stories from our reporters as they hit the campaign trail and cover the issues and candidates that matter to you. We follow politics, you follow&nbsp;us.</p>
    <form class="newsletter-signup" id="newsletter-signup">
        <input id="newsletter-email" type="text" placeholder="What's your email?" />
        <button class="btn-subscribe" id="subscribe-button">Subscribe</button>
    </form>
    <p class="footnote">By subscribing, you agree to NPR's <a href="http://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">terms of use</a> and <a href="http://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">privacy&nbsp;policy</a>.</p>
</article>

<article class="more">
    <h1>Looking for more NPR Politics coverage?</h1>
    <p>Follow us on Facebook and Twitter:</p>
    <ul>
        <li class="facebook"><a href="https://www.facebook.com/nprpolitics/">Facebook</a></li>
        <li class="twitter"><a href="https://twitter.com/nprpolitics">Twitter</a></li>
    </ul>
</article>
{% endblock %}
