{% extends '_card_base.html' %}

{% block card_content %}
<header>
    <h1>There’s More To It.</h1>
</header>
<article>
    <p>Sign up for the NPR Politics newsletter to stay caught up with the latest stories from our reporters as they hit the campaign trail and cover the issues and candidates that matter to you. We follow politics, you follow&nbsp;us.</p>
    <form class="newsletter-signup" id="newsletter-signup">
        <input id="newsletter-email" type="text" placeholder="What's your email?" />
        <button class="btn-subscribe" id="subscribe-button">Subscribe</button>
    </form>
    <p class="footnote">By subscribing, you agree to NPR's <a href="http://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">terms of use</a> and <a href="http://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">privacy&nbsp;policy</a>.</p>
</article>
{% endblock %}
