{% extends '_card_base.html' %}

{% block card_content %}
<div class="segment-audio-content">
        <h2 class="segment-source">NPR Politics Podcast</h2>

        <ul class="segment-audio-player">
            <li class="segment-rewind">
                <button class="rewind"></button>
            </li>
            <li class="segment-play">
                <button class="toggle-btn pause">
                </button>
                <span class="duration">
                    35:31
                </span>
            </li>
            <li class="segment-forward">
                <button class="forward"></button>
            </li>
        </ul>

    <div class="podcast-description">

        <h1>{{ podcast_title }}</h1>

        <p>{{ podcast_description }}</p>


        <ul class="featured-links">
            <li><a href="#" class="begin">Subscribe</a></li>
            <li><a href="#" class="begin">View all episodes</a></li>
        </ul>

    </div>
</div>

<p class="photo-credit">Photo Credit</p>

<script type="text/javascript">
    var PODCAST_URL = '{{ podcast_link }}';
</script>
{% endblock %}
