{% extends '_card_base.html' %}

{% block card_content %}
<div class="segment-audio-content">
        <h2 class="segment-source">NPR Politics Podcast</h2>

        <ul class="segment-audio-player">
            <li class="segment-rewind">
                <button class="rewind"></button>
            </li>
            <li class="segment-play">
                <button class="toggle-btn pause">
                </button>
                <span class="duration">
                    35:31
                </span>
            </li>
            <li class="segment-forward">
                <button class="forward"></button>
            </li>
        </ul>

    <div class="podcast-description">

        <h1>{{ headline }}</h1>

        <p>{{ content|safe }}</p>


        <ul class="featured-links">
            <li><a href="http://www.npr.org/podcasts/510310/npr-politics-podcast">View all episodes</a></li>
            <li><a href="http://www.npr.org/rss/podcast.php?id=510310" title="RSS">Subscribe</a></li>

        </ul>

    </div>
</div>

<script type="text/javascript">
    var PODCAST_URL = '{{ audio_url }}'
</script>
{% endblock %}

{% block card_background %}
<span class="card-background" data-mobile-bg="{% if DEPLOYMENT_TARGET != 'production' and preview_mobile_image %}{{ preview_mobile_image }}{% else %}{{ mobile_image }}{% endif %}" data-default-bg="{% if DEPLOYMENT_TARGET != 'production' and preview_image %}{{ preview_image }}{% else %}{{ image }}{% endif %}" style="background-repeat: no-repeat; background-size: cover; background-position: center center; -webkit-background-size: cover;">
    <p class="photo-credit">{% if DEPLOYMENT_TARGET != 'production' and preview_credit %}{{ preview_credit }}{% else %}{{ credit }}{% endif %}</p>
</span>
{% endblock %}
