{% extends '_card_base.html' %}

{% block card_content %}
    <div class="title-description">

        <div class="title-branding">
            <div class="logo">
                <img src="./assets/npr-white.png">
                <h5>Elections 2016</h5>
            </div>
        </div>

        <div class="countdown-banner {% if state == 'during' %} live-banner begin {% endif %}">
            <h6>{{ banner }}</h6>
        </div>

        <h1>{{ headline }}</h1>
        <p>{{ content|safe }}</p>
        <button class="begin title-button">
            {% if state == 'before' or state == 'inactive' %}
            Get Caught Up
            {% elif state == 'during' %}
            Join the live event
            {% elif state == 'after' %}
            View the results
            {% endif %}

            <i class="icon icon-angle-right"></i></button>
        </button>
    </div>
{% endblock %}

{% block card_background %}
<span class="card-background" data-mobile-bg="{% if DEPLOYMENT_TARGET != 'production' and preview_mobile_image %}{{ preview_mobile_image }}{% else %}{{ mobile_image }}{% endif %}" data-default-bg="{% if DEPLOYMENT_TARGET != 'production' and preview_image %}{{ preview_image }}{% else %}{{ image }}{% endif %}" style="background-repeat: no-repeat; background-size: cover; background-position: center center; -webkit-background-size: cover;">
    <p class="photo-credit">{% if DEPLOYMENT_TARGET != 'production' and preview_credit %}{{ preview_credit }}{% else %}{{ credit }}{% endif %}</p>
</span>
{% endblock %}
