{% extends '_card_base.html' %}

{% block card_content %}
<div class="title-inner">

<!-- add class of live banner to the countdown-banner in during mode -->
    <div class="countdown-banner">
        <p>Live Coverage of the Iowa Caucuses begins at 8pm</p>
        <button class="get-alerts"><i class="fa fa-bell"></i> Get Alerts</button>
    </div>

    <div class="title-description">

        <div class="title-branding">
            <div class="logo">
                <img src="/assets/npr-white.png">
                <h5>Election Party 2016</h5>
            </div>
        </div>

            <h1>What to know about today's Iowa Caucuses</h1>

            <p>Welcome to your friendly guide to today's primary. Sed ut perspiciatis unde omnis iste natus error sit <a href="http://npr.org">voluptatem accusantium doloremque</a> laudantium, totam rem aperiam.
            </p>



             <button class="begin">Get Caught Up <i class="fa fa-angle-right"></i></button>
    </div>

    <p class="photo-credit">Photo Credit</p>
</div>
{% endblock %}
