{% extends '_card_base.html' %}

{% block card_content %}
<div class="title-inner">

    <div class="title-description">

        <div class="title-branding">
            <div class="logo">
                <img src="/assets/npr-white.png">
                <h5>Election Party 2016</h5>
            </div>
        </div>


        <!-- add class of live banner to the countdown-banner in during mode -->
        <div class="countdown-banner">
            <h6>{{ banner }}</h6>
            <button class="get-alerts"><i class="fa fa-bell"></i> Get Alerts</button>
        </div>

            <h1>{{ headline }}</h1>

            <p>{{ content|safe }}
            </p>



             <button class="begin">Get Caught Up <i class="fa fa-angle-right"></i></button>
    </div>

</div>
{% endblock %}

{% block card_background %}
<p class="photo-credit">Photo Credit</p>
{% endblock %}
