<!DOCTYPE html>
<html>
<head>
<title>AP Calls Admin</title>

{{ CSS.push('less/calls.less') }}
{{ CSS.render('css/calls.min.css') }}
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cms-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AP Calls CMS</a>
            </div>

            <div class="collapse navbar-collapse" id="cms-nav">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% for id, results in races.iteritems() %}
                <h3>{{ results[0].electiondate }}: {{ results[0].statename }} {{ results[0].party }} {{ results[0].officename }}</h3>
                <button
                    class="btn {% if results[0].call[0].accept_ap == True %} btn-success {% else %} btn-warning {% endif %} btn-mini accept-ap"
                    data-race-id="{{ results[0].raceid }}">
                    {% if results[0].call[0].accept_ap == True %}
                    Accepting AP calls
                    {% else %}
                    Not accepting AP calls
                    {% endif %}
                </button>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr class="info">
                        <td><strong>Candidate</strong></td>
                        <td><strong>NPR Winner</strong></td>
                        <td><strong>AP Winner</strong></td>
                        <td><strong>Call for NPR</strong></td>

                    </tr>
                    {% for result in results %}
                    <tr>
                        <td>
                            <span class="candidate {{ result.party.lower() }} {% if result.call[0].accept_ap == True %}{% if result.winner == True %}called{% endif %}{% endif %}"
                                data-first-name="{{ result.first }}"
                                data-last-name="{{ result.last }}">
                                {% if result.first %} {{ result.first }} {% endif %}
                                {{ result.last }}
                            </span>
                        </td>

                        <td>
                            <button class="npr-winner btn btn-mini disabled
                                {% if result.call[0].accept_ap == True %} hidden {% endif %}
                                {% if result.call[0].override_winner == False %} hidden {% endif %}
                                {% if result.party == 'GOP' %} btn-danger {% endif %}
                                {% if result.party == 'Dem' %} btn-primary {% endif %}
                                {% if result.party == 'Other' %} btn-success {% endif %}">
                                NPR
                            </button>
                        </td>
                        <td>
                            <button class="ap-winner btn btn-mini disabled {% if result.winner == False %} hidden {% endif %}
                                {% if result.party == 'GOP' %} btn-danger {% endif %}
                                {% if result.party == 'Dem' %} btn-primary {% endif %}
                                {% if result.party == 'Other' %} btn-success {% endif %}">
                                AP
                            </button>
                        </td>
                        <td>
                            <button class="npr-call btn btn-mini
                                {% if result.call[0].accept_ap == True %} hidden {% endif %}
                                {% if result.call[0].override_winner == True %} hidden {% endif %}"
                                data-race-id="{{ result.raceid }}"
                                data-candidate-id="{{ result.candidateid }}">
                                Call for NPR
                            </button>

                            <button class="npr-uncall btn btn-mini btn-warning
                                {% if result.call[0].accept_ap == True %} hidden {% endif %}
                                {% if result.call[0].override_winner == True %}{% else %} hidden {% endif %}"
                                data-race-id="{{ result.raceid }}"
                                data-candidate-id="{{ result.candidateid }}">
                                Uncall for NPR
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/calls.js') }}
    {{ JS.render('js/chamber-footer.min.js') }}
</body>

</html>