<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.meta.project_name }} : NPR</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}

    {% block content %}{% endblock %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/flickity.pkgd.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
    {{ JS.push('js/lib/getEmPixels.js') }}

    {# uncomment both files to use simpleStorage #}
    {# {{ JS.push('js/lib/simpleStorage.js') }} #}
    {# {{ JS.push('js/storage.js') }} #}

    {% if RELOAD_TRIGGER %}
    {{ JS.push('js/reload.js') }}
    {% endif %}

    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/share.js') }}
    {{ JS.push('js/audio.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.push('js/delegates.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {# Setup Chartbeat last! #}
    <script type="text/javascript">
        $(ANALYTICS.setupChartbeat);
    </script>
</body>
</html>
