<meta name="description" content="{{ COPY.share.meta_description }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<base target="_blank" />
<link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />
<link rel="apple-touch-icon" href="./assets/touch-icon.png">
<link rel="apple-touch-icon" sizes="76x76" href="./assets/touch-icon.png">
<link rel="apple-touch-icon" sizes="120x120" href="./assets/touch-icon.png">
<link rel="apple-touch-icon" sizes="152x152" href="./assets/touch-icon.png">