{% extends '_base.html' %}

{% block content %}
<div class="cards {{ state }}">

    <div class="alert">

        <h5> We're live!
            <button class="alert-action">
                Join the event
            </button>
        </h5>

        <button class="close-alert"><i class="fa fa-times"></i></button>
    </div>

    <div class="global-nav">
        <div class="global-header">

            <div class="logo">

                <a href="http://npr.org">
                    <img src="./assets/npr-white.png">
                </a>
                <h5>Elections 2016</h5>
            </div>
            <span class="branding-border"></span>
        </div>
        <div class="global-controls">
            <button class="now-playing">Now Playing</button>
            <button class="mute-button muted"></button>
        </div>
    </div>
    {{ content|safe }}
</div>

<div class="audio-player"></div>
{% endblock %}
