{% extends '_base.html' %}

{% block content %}
<div class="cards">
    <div class="global-header">

        <div class="logo">
            <img src="/assets/npr-white.png">
            <h5>Election Party 2016</h5>
        </div>
    </div>
    <div class="global-controls">
        <button class="alert-button"><i class="fa fa-bell"></i> Alerts</button>
        <button class="mute-button"><i class="fa fa-volume-up"></i></button>
    </div>
    <span class="branding-border"></span>
    {{ content|safe }}
</div>
{% endblock %}
